#header
	=image_tag "logo.png" 
	#big_desc A Safari extension to track your web browsing click by click to enable user research through data visualization.
	=link_to "#{image_tag 'download_button.png'}", "/contents/download"

.section
	%h1 Learn more
	

	
	.col2.right.first 
		%p LOREM ISPUM
	
	.col.left.first
		%h2 How does it work?

	.col2.right
		%p LOREM ISPUM
	
	.col.left.first
		%h2 How will my data be used?
	
	.col2.right 
		%p LOREM ISPUM
	.clear		
	%div{:style => "width: 160px; float: right; font-size: smaller;"}
		This is an example

	.col3.first=image_tag "example.png", :style=>"border-radius: 3px;"


.section.clear
	%h1 Who's behind Navtree?
	
	%p 

		.col.first
			Design 
			%h3 David Pelaez T.
		.col 
			Mentoring
			%h3 Santiago Barriga
		.col 
			Evaluation
	
.section
	%h1 Privacy Policy
	
	.col.first 
		%h2 How will my data be used?
	.col
		%p LOREM ISPUM
	
	.col
		%h2 How does it work?

	.col
		%p LOREM ISPUM
		
	.col.first 
		%h2 How will my data be used?
	.col
		%p LOREM ISPUM

	.col
		%h2 How does it work?

	.col
		%p LOREM ISPUM
	

