#logo=image_tag "logo.png"


#node_count
	#count=@secret.edges.count    
	#count_label recorded nodes
#secret= @secret.private_key	

#edges.clear

	- @previous_edge = nil
	= render :partial => "edge", :collection => @edges
	.clear
#pagination= will_paginate @edges	

:javascript
	$(function(){
		$("#edges .edge").each(function(index){
			//$(this).css("margin-left", $(this).attr("depth")*20);

		});   



	}); 
