%h1         Dashboard     

%p
	Secret:
	= @secret.private_key
%p
	Edges:
	=@secret.edges.count    
%p
	Nodes:
	=@secret.nodes.count
	
	
%h1 Recorded edges (newest first)


#edges

	- @previous_edge = nil
	= render :partial => "edge", :collection => @edges
	= will_paginate @edges	

:javascript
	$(function(){
		$("#edges .edge").each(function(index){
			//$(this).css("margin-left", $(this).attr("depth")*20);

		});   



	}); 
