#logo=image_tag "logo.png"

.dbox
	Secret:
	= @secret.private_key
.dbox
	Recorder nodes:
	=@secret.edges.count    

#edges.clear

	- @previous_edge = nil
	= render :partial => "edge", :collection => @edges
	.clear
#pagination= will_paginate @edges	

:javascript
	$(function(){
		$("#edges .edge").each(function(index){
			//$(this).css("margin-left", $(this).attr("depth")*20);

		});   



	}); 
