%h1 Listing edges

#edges


	= render :partial => "edge", :collection => @edges
	= will_paginate @edges	

:javascript
	$(function(){
		$(".edge").each(function(index){
			$(this).css("margin-left", $(this).attr("depth")*20);
			
		});   
		
	  
		
	});
